body {
    margin: 0;
    background-color: #fff;
    font-family: 'PingFang SC', 'Microsoft Yahei', Helvetica, Arial, sans-serif;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #eee;
}

.top-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    z-index: 999;
    border-bottom: solid 1px #eee;
}

.top {
    width: 100%;
    height: 100px;
    max-width: 1092px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.logo {
    width: 80px;
    margin-right: 24px;
}

.title {
    font-size: 36px;
    font-weight: 300;
    color: #502e84;
}

.main {
    position: relative;
    z-index: 100;
    top: 120px;
    width: 100%;
    min-height: 1000px;
    max-width: calc(1092px + 16px);
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.game-item {
    width: 160px;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    box-shadow: #e3e3e3 0px 0px 8px;
    transition: all ease 0.3s;
    border-radius: 3px;
}

.game-item:hover {
    box-shadow: #b6b6b6 0px 0px 12px;
    filter: brightness(1.05);
}

.game-item-hide {
    visibility: hidden;
}

.game-img {
    width: 160px;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 3px 3px 0px 0px;
}

.game-title {
    box-sizing: border-box;
    padding: 10px;
}

.game-text {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #673AB7;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.game-tag {
    color: #5d70da;
    font-size: 13px;
    margin-bottom: 10px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    height: 200px;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-in {
    font-size: 14px;
    color: #555;
    margin-left: auto;
    margin-right: auto;
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.cover-show-true {
    display: flex;
}

.game-box {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 583px;
    max-height: 100%;
    background-color: #fff;
}

.game-box-content {
    position: relative;
    width: 100%;
    height: 100%;
    top: 50px;
    height: calc(100% - 50px);
}

.game-box-frame {
	position: absolute;
	top:0;
	left:0;
	z-index: 999;
    width: 100%;
    height: 100%;
}

.game-box-title {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-box-name {
    font-size: 18px;
    margin-left: 12px;
    font-weight: 400;
}

.game-box-full-screen {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/full.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.game-box-close {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/close.png);
    background-size: 58%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.game-box-full-screen:hover,
.game-box-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.game-box-handle {
    width: 100px;
    display: flex;
}

.game-box-full-true {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.game-box-full-true .game-box-full-screen {
    background-size: 40%;
    background-image: url(../imgs/full-small.png);
}

.game-loading {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin-top: -10%;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #502e84;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
